.idea/
backend/target/**
backend/.idea/**
backend/src/main/resources/static/bower_components/**
backend/src/main/resources/static/css/.sass-cache/**
backend/src/main/resources/static/css/*.map
*.patch
backend/src/main/resources/static/css/*.css
frontend/node_modules/**
frontend/.editorconfig
frontend/.babelrc
*.iml