<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="shortcut icon" type="image/ico" href="bower_components/google-blockly/appengine/favicon.ico"/>
    <script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/vueController.js"></script>
    <script type="text/javascript" src="js/Model/Task.js"></script>
</head>
<body id="app">
<div class="header">
    <img src="bower_components/google-blockly/appengine/favicon.ico"/>
    <div class="headingText">Task Blocks</div>
</div>
<div id="blocklyArea"></div>
</body>
</html>